<?xml version="1.0"?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=186.202.148.141;Persist Security Info=True;User ID=luzecorcasting;Password=Copa102030" providerName="System.Data.SqlClient"/>
    <add name="Agencia.Relatorios.Properties.Settings.dbAgenciaConnectionString" connectionString="Data Source=ADRIANABORGES;Initial Catalog=dbAgencia;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Agencia.Relatorios.Properties.Settings.dbAgenciaConnectionString1" connectionString="Data Source=.\sqlexpress;Initial Catalog=dbAgencia;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Agencia.Relatorios.Properties.Settings.ConnectionString" connectionString="Data Source=186.202.148.141;Persist Security Info=True;User ID=luzecorcasting;Password=Copa102030" providerName="System.Data.SqlClient"/>
  </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
